<main>
  <h1>Recipe Manager</h1>
  @if (message) {
    <p class="success-message">
      {{ message }}
    </p>
  }
  <section>
    <h2>
      {{ editingRecipeId === null ? 'Add Recipe' : 'Edit Recipe' }}
    </h2>

    <form>
      <label>
        Name:
        <input
          type="text"
          name="name"
          [(ngModel)]="newRecipe.name"
          required>
          @if (newRecipe.name.trim().length === 0) {
            <small>Name is required.</small>
          }
      </label>

      <label>
        Description:
        <input
          type="text"
          name="description"
          [(ngModel)]="newRecipe.description">
      </label>

      <label>
        Preparation time (minutes):
        <input
          type="number"
          name="preparationTime"
          [(ngModel)]="newRecipe.preparationTime"
          min="1"
          step="1">
          @if (newRecipe.preparationTime < 1) {
          <small>Preparation time must be at least 1 minute.</small>
}
      </label>

      <label>
        Difficulty:
        <select
          name="difficulty"
          [(ngModel)]="newRecipe.difficulty">
          <option value="EASY">Easy</option>
          <option value="MEDIUM">Medium</option>
          <option value="HARD">Hard</option>
        </select>
      </label>

      <label>
        Category:
        <input
          type="text"
          name="category"
          [(ngModel)]="newRecipe.category">
      </label>

      @if (editingRecipeId === null) {
        <button
          type="button"
          (click)="addRecipe()"
          [disabled]="!isRecipeValid()">
          Add Recipe
        </button>
      } @else {
        <button
          type="button"
          (click)="updateRecipe()"
          [disabled]="!isRecipeValid()">
          Save Changes
        </button>

        <button
          type="button"
          (click)="cancelEdit()">
          Cancel
        </button>
      }
      
    </form>
  </section>

  <section>
    <h2>Recipes</h2>

    @for (recipe of recipes; track recipe.id) {
      <article>
        <h3>{{ recipe.name }}</h3>

        <p>{{ recipe.description }}</p>
        <p>
          Preparation time:
          {{ recipe.preparationTime }}
          {{ recipe.preparationTime === 1 ? 'minute' : 'minutes' }}
        </p>
        <p>Difficulty: {{ recipe.difficulty }}</p>
        <p>Category: {{ recipe.category }}</p>

        <button
          type="button"
          (click)="editRecipe(recipe)">
          Edit
        </button>

        <button
          type="button"
          (click)="deleteRecipe(recipe.id)">
          Delete
        </button>
      </article>
    } @empty {
      <p>No recipes yet.</p>
    }
  </section>
</main>