/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  background-color: #ffffe6;
  color: #333333;
}

* {
  box-sizing: border-box;
}